// Support for old IE
support-for-ie ?= true

// Base styles
base-font-size ?=     100%
base-line-height ?=   1.5
base-border-radius ?= 3px
mono-font-family ?=   Monaco, Menlo, Consolas, "Courier New", monospace

// Code block styles
code-block-color ?=             #333
code-block-border ?=            #ccc
code-pre-background ?=          #f9f2f4
code-block-background ?=        #f5f5f5
code-block-font-family ?=       mono-font-family
code-block-scrobbable-height ?= 15.5em
